@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --orange: #f78d4c;
    --white: rgb(255, 255, 255);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', sans-serif;
    font-weight: 400;
}

body {
  background: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.centered {
  text-align: center;
  animation: fadeIn 1s ease-out forwards;
  background-color: var(--white);
  border: 2px solid black;
  border-radius: 20px;
  padding: 2rem;
  width: 90vw;
}


.hidden {
  display: none;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background: var(--orange);
  color: var(--white);
  cursor: pointer;
  transition: background 0.3s;
  border: 2px solid black;
}

button:hover {
  background: #e67a00;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Popup styles */


img {
    width: 200px;
}

h1 {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
}

p {
    font-size: 1.1rem;
}